<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ntu.mpp.proj"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="4" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name=".Login"
            android:windowSoftInputMode= "adjustResize" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ElistCBox" >
        </activity>
        <activity android:name="FreeTime" >
        </activity>
        <activity android:name="invite" >
        </activity>
        <activity android:name="proper" >
        </activity>
        <activity android:name="PlayBookActivity" >
        </activity>
        <activity android:name="Register" >
        </activity>
        <activity android:name="PeopleCnt" >
        </activity>
        <activity android:name="Confirm" >
        </activity>
        <activity android:name="FriendList" >
        </activity>
    </application>

</manifest>